# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
.env

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# YOLO Models
# ==========================
*.pt
models/history/

# ==========================
# YOLO Training Output
# ==========================
runs/
outputs/

# ==========================
# Videos
# ==========================
*.mp4
*.avi
*.mov

# ==========================
# Optional: Raw extracted frames
# ==========================
data/raw_frames/
