# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
.env

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# YOLO Models
# ==========================
*.pt
models/history/

# ==========================
# YOLO Training Output & Datasets
# ==========================
runs/
futsal/
wandb/
outputs/
data_processed/
data_augmented/
archive/

# ==========================
# Videos
# ==========================
*.mp4
*.avi
*.mov

# ==========================
# Optional: Raw extracted frames
# ==========================
data/raw_frames/
# ==========================
# Dataset (dikelola via Roboflow, jangan commit ke git)
# ==========================
data/train/images/
data/train/labels/
data/valid/images/
data/valid/labels/
data/test/images/
data/test/labels/
data/*/labels.cache