# Library utama untuk YOLO
ultralytics==8.1.0

# Library untuk pemrosesan gambar dan video
opencv-python>=4.8.0
numpy>=1.24.0

# Library tambahan untuk pelacakan (tracking) dan dataset
roboflow
lapx>=0.5.5
python-dotenv>=1.0.0

# Visualisasi grafik performa training
matplotlib>=3.7.0
